<!-- Landings -->
<a class="nav-link d-inline-block" href="/who.html">Chi siamo</a>
<!-- End Landings -->

<!-- Company -->
<li class="hs-has-sub-menu nav-item">
  <a id="companyMegaMenu" class="hs-mega-menu-invoker nav-link dropdown-toggle @@if(category=='company'){active}" href="#" role="button" aria-expanded="false">Associazione</a>

  <!-- Mega Menu -->
  <div class="hs-sub-menu dropdown-menu" aria-labelledby="companyMegaMenu" style="min-width: 14rem;">
    <a class="dropdown-item @@if(link=='page-about.html'){active}" href="@@autopath/associazione/statuto.html">Statuto</a>
    <!--<a class="dropdown-item @@if(link=='page-services.html'){active}" href="@@autopath/page-services.html">Regolamento</a>-->
    <a class="dropdown-item @@if(link=='page-customer-stories.html'){active}" href="#">Verbali</a>
    <a class="dropdown-item @@if(link=='page-customer-story.html'){active}" href="#">Bilanci</a>
  </div>
  <!-- End Mega Menu -->
</li>

<!-- End Company -->
